.idea
/data
/results
/docs
/src/bigru
*.txt
src/utils/utils.json
!/data/NTC_dataset/raw_create.py
!/data/Winograd-Schema-Challenge-Ja-master/fixed/test-token.txt
!/data/Winograd-Schema-Challenge-Ja-master/fixed/train-token.txt
!/data/Winograd-Schema-Challenge-Ja-master/fixed/test-triplet.txt
!/data/Winograd-Schema-Challenge-Ja-master/fixed/dev-triplet.txt
!/data/Winograd-Schema-Challenge-Ja-master/fixed/train-triplet.txt
!/data/WSC-crosslingal/*
!/data/WSC-kawahara/*
!/data/WSC-yandex/*

